body {
    font-family: Arial, "微软雅黑";
    padding-top: 60px;
}

.bcef {
    background-color: #efefef;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 50px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}
