<script>
  init({
    title: 'Filter Options',
    desc: 'Use <code>filterOptions: true</code> to show filter options (All, Selected, Unselected) in the filter.',
    links: ['multiple-select.min.css'],
    scripts: ['multiple-select.min.js']
  })
</script>

<style>
select {
  width: 100%;
}
</style>

<div>
  <h3 class="mb-3">Normal Mode (No Divider)</h3>
  <div class="mb-3 row">
    <label class="col-sm-2">
      Multiple Select
    </label>

    <div class="col-sm-10">
      <select multiple="multiple" id="normal-no-divider">
      </select>
    </div>
  </div>

  <h3 class="mb-3 mt-4">Normal Mode (With Divider)</h3>
  <div class="mb-3 row">
    <label class="col-sm-2">
      Multiple Select
    </label>

    <div class="col-sm-10">
      <select multiple="multiple" id="normal-divider">
      </select>
    </div>
  </div>

  <h3 class="mb-3 mt-4">Group Mode (No Divider)</h3>
  <div class="mb-3 row">
    <label class="col-sm-2">
      Multiple Select
    </label>

    <div class="col-sm-10">
      <select multiple="multiple" id="group-no-divider">
      </select>
    </div>
  </div>

  <h3 class="mb-3 mt-4">Group Mode (With Divider)</h3>
  <div class="mb-3 row">
    <label class="col-sm-2">
      Multiple Select
    </label>

    <div class="col-sm-10">
      <select multiple="multiple" id="group-divider">
      </select>
    </div>
  </div>
</div>

<script>
  function mounted() {
    $('#normal-no-divider').multipleSelect({
      filter: true,
      filterOptions: true,
      data: [
        { value: 1, text: 'Option 1' },
        { value: 2, text: 'Option 2' },
        { value: 3, text: 'Option 3' },
        { value: 4, text: 'Option 4' },
        { value: 5, text: 'Option 5' },
        { value: 6, text: 'Option 6' }
      ]
    })

    $('#normal-divider').multipleSelect({
      filter: true,
      filterOptions: true,
      data: [
        { value: 1, text: 'Option 1' },
        { value: 2, text: 'Option 2' },
        { value: 3, text: 'Option 3' },
        { divider: true },
        { value: 4, text: 'Option 4' },
        { value: 5, text: 'Option 5' },
        { value: 6, text: 'Option 6' }
      ]
    })

    $('#group-no-divider').multipleSelect({
      filter: true,
      filterOptions: true,
      data: [
        {
          type: 'optgroup',
          label: 'Group 1',
          children: [
            { text: 'January', value: 1 },
            { text: 'February', value: 2 },
            { text: 'March', value: 3 },
            { text: 'April', value: 4 },
            { text: 'May', value: 5 },
            { text: 'June', value: 6 }
          ]
        },
        {
          type: 'optgroup',
          label: 'Group 2',
          children: [
            { text: 'July', value: 7 },
            { text: 'August', value: 8 },
            { text: 'September', value: 9 },
            { text: 'October', value: 10 },
            { text: 'November', value: 11 },
            { text: 'December', value: 12 }
          ]
        }
      ]
    })

    $('#group-divider').multipleSelect({
      filter: true,
      filterOptions: true,
      data: [
        {
          type: 'optgroup',
          label: 'Group 1',
          children: [
            { text: 'January', value: 1 },
            { text: 'February', value: 2 },
            { text: 'March', value: 3 },
            { divider: true },
            { text: 'April', value: 4 },
            { text: 'May', value: 5 },
            { text: 'June', value: 6 }
          ]
        },
        {
          type: 'optgroup',
          label: 'Group 2',
          children: [
            { text: 'July', value: 7 },
            { text: 'August', value: 8 },
            { text: 'September', value: 9 },
            { divider: true },
            { text: 'October', value: 10 },
            { text: 'November', value: 11 },
            { text: 'December', value: 12 }
          ]
        }
      ]
    })
  }
</script>
