<script>
  init({
    title: 'Large Select',
    desc: 'Large select with filter.',
    links: ['multiple-select.min.css'],
    scripts: ['multiple-select.min.js']
  })
</script>

<style>
select {
  width: 100%;
}
</style>

<div>
  <div class="form-group row">
    <label class="col-sm-2">
      Basic Select
    </label>

    <div class="col-sm-10">
      <select multiple="multiple" id="select">
    </div>
  </div>
</div>

<script>
  function mounted() {
    var html = []
    for (var i = 0; i < 10000; i++) {
      html.push('<option value="' + i + '">' + i + '</option>')
    }
    $('#select').html(html.join('')).multipleSelect({
      filter: true
    })
  }
</script>
