<script>
  init({
    title: 'Max Visible Disabled',
    desc: 'Use <code>maxVisibleDisabled: 2</code> option to limit visible disabled options with expand/collapse buttons. Disabled options exceeding this value will be hidden.',
    links: ['multiple-select.min.css'],
    scripts: ['multiple-select.min.js']
  })
</script>


<style>
select {
  width: 100%;
}
</style>

<div>
  <div class="mb-3 row">
    <label class="col-sm-2">
      Basic Select
    </label>

    <div class="col-sm-10">
      <select>
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5" disabled>May</option>
        <option value="6">June</option>
        <option value="7" disabled>July</option>
        <option value="8" disabled>August</option>
        <option value="9" disabled>September</option>
        <option value="10" disabled>October</option>
        <option value="11" disabled>November</option>
        <option value="12" disabled>December</option>
      </select>
    </div>
  </div>
</div>

<script>
  function mounted() {
    $('select').multipleSelect({
      maxVisibleDisabled: 2
    })
  }
</script>
